@import './_mixin.scss';

// ---------------------------------------------------------------------
// 주요 색상
// ---------------------------------------------------------------------

$color-navy: #0D518B;
$color-gray: #6C757E;
$color-orange: #EE7910;
$color-blue: #0072BB;
$color-green : #12B967;
$color-aqua: #11ACA8;

$color-black: #000000;
$color-white: #ffffff;

$inputBorder:#DDDDDD;
$placeHolder:#888;




$theme-map-palette: (
  --color-primary:$color-navy,
  --color-primary-text:$color-navy,
  --color-primary-white-fixed:$color-white,
  --color-primary-dark:$color-white,
  --color-gray-text:#a4a9b6,
  --color-black-text:#475663,
  --color-border:#E2E3EB,

  --color-black: $color-black,
  --color-white: $color-white,
  --color-black-fixed: $color-black,
  --color-white-fixed: $color-white,

  --color-setting-bg:#F9F9F9,
  --color-contents-bg:$color-white,
);

$theme-map-navy: (
 --color-primary:$color-navy,
);
$theme-map-gray: (
  --color-primary:$color-gray,
);
$theme-map-orange: (
  --color-primary:$color-orange,
);
$theme-map-blue: (
  --color-primary:$color-blue,
);
$theme-map-green: (
  --color-primary:$color-green,
);
$theme-map-aqua: (
  --color-primary:$color-aqua,
);

$theme-map-dark: (
  --color-primary:#283142,
  --color-primary-text:#fff,
  --color-primary-white-fixed:#fff,
  --color-primary-dark:#4D5568,
  --color-border:#343E4F,
  --color-gray-text:#a4a9b6,
  --color-black-text:#d7d6dc,
  --color-black: $color-white,
  --color-white: $color-black,

  --color-setting-bg: #283142,
  --color-contents-bg:#222529,
);

// Zeplin에 표시되는 px을 rem 단위로 변환할 때 쓰는 마법의 수
$modifier: 13;

// 텍스트가 여러 줄로 표시되는 경우 기본 행간
$line-height: 1.5;

// 화면의 상하/좌우 기본 여백
$base-padding: toRem(80);
