@import './_mixin.scss';

// ---------------------------------------------------------------------
// 주요 색상
// ---------------------------------------------------------------------

$color-navy: #0D518B;
$color-gray: #6C757E;
$color-orange: #EE7910;
$color-blue: #0072BB;
$color-green : #12B967;
$color-aqua: #11ACA8;
$color-dark: #283142;

$color-navy-bg: #0d518b33; 
$color-gray-bg: #6c757e33;
$color-orange-bg: #ee791033;
$color-blue-bg: #0072bb33;
$color-green-bg : #12b96733;
$color-aqua-bg: #11aca833;
$color-dark-bg: #28314233;
$color-top-menu-bg:#ffffff33;

$color-black: #000000;
$color-white: #ffffff;

$inputBorder:#DDDDDD;
$placeHolder:#888;




$theme-map-palette: (
  --color-primary:$color-navy,
  --color-primary-text:$color-navy,
  --color-menu-bg:$color-navy-bg,
  --color-top-menu-bg:$color-top-menu-bg,
  
  --color-gray-text:#a4a9b6,
  --color-black-text:#475663,
  --color-border:#E2E3EB,

  --color-black: $color-black,
  --color-white: $color-white,
  --color-black-fixed: $color-black,
  --color-white-fixed: $color-white,
  --color-white-dark:$color-white,

  --color-setting-bg:#F9F9F9,
  --color-setting-li-active-bg:#EFF0F6,
  --color-contents-bg:$color-white,
);

$theme-map-navy: (
 --color-primary:$color-navy,
 --color-primary-text:$color-navy,
 --color-menu-bg:$color-navy-bg,
);
$theme-map-gray: (
  --color-primary:$color-gray,
  --color-primary-text:$color-gray,
  --color-menu-bg:$color-gray-bg,
);
$theme-map-orange: (
  --color-primary:$color-orange,
  --color-primary-text:$color-orange,
  --color-menu-bg:$color-orange-bg,
);
$theme-map-blue: (
  --color-primary:$color-blue,
  --color-primary-text:$color-blue,
  --color-menu-bg:$color-blue-bg,
);
$theme-map-green: (
  --color-primary:$color-green,
  --color-primary-text:$color-green,
  --color-menu-bg:$color-green-bg,
);
$theme-map-aqua: (
  --color-primary:$color-aqua,
  --color-primary-text:$color-aqua,
  --color-menu-bg:$color-aqua-bg,
);

$theme-map-dark: (
  --color-primary:$color-dark,
  --color-primary-text:#fff,
  --color-menu-bg:$color-dark-bg,
  
  --color-border:#343E4F,
  --color-gray-text:#a4a9b6,
  --color-black-text:#d7d6dc,
  --color-black: $color-white,
  --color-white: $color-black,
  --color-white-fixed:#fff,
  --color-white-dark:#4D5568,

  --color-setting-bg: $color-dark,
  --color-contents-bg:#222529,
);

// Zeplin에 표시되는 px을 rem 단위로 변환할 때 쓰는 마법의 수
$modifier: 13;

// 텍스트가 여러 줄로 표시되는 경우 기본 행간
$line-height: 1.5;

// 화면의 상하/좌우 기본 여백
$base-padding: toRem(80);
