@charset "utf-8";
@import './reset.scss';
@import './_global.scss';
@import './_mixin.scss';

// @import './color.scss';
// @import './text.scss';
// @import './divider.scss';

@import './common.scss';
@import './layout.scss';

html {
  height: 100%;
}

body {
  height: 100%;

  >#app {
    height: 100%;

  }
}

:root {
  @include spread-map($theme-map-palette);

  .navy {
    @include spread-map($theme-map-navy);
  }

  .gray {
    @include spread-map($theme-map-gray);
  }

  .orange {
    @include spread-map($theme-map-orange);
  }

  .blue {
    @include spread-map($theme-map-blue);
  }

  .green {
    @include spread-map($theme-map-green);
  }

  .aqua {
    @include spread-map($theme-map-aqua);
  }

  .dark {
    @include spread-map($theme-map-dark);
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;



  .contents-wrap {
    overflow: hidden;
    position: relative;
    flex: 1 1;
    max-width: 1920px;
    display: flex;

    .contents-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .contents {
        background: var(--color-contents-bg);
        flex: 1 1;
      }
    }

    .footer {
      height: toRem(50);
      background: var(--color-balck);
    }
  }
}

/** LOGIN */
.login-wrap {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0 !important;
    visibility: hidden !important;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-out;

    &.active {
      transition: all 0.4s ease-out;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  .img-1 {
    background: url(../images/login/img-login-1.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-2 {
    background: url(../images/login/img-login-2.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-3 {
    background: url(../images/login/img-login-3.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-4 {
    background: url(../images/login/img-login-4.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-5 {
    background: url(../images/login/img-login-5.jpeg) no-repeat center center;
    background-size: cover;
  }

  .dots {
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 2;
    width: max-content;
    display: flex;
    gap: 10px;

    li {
      width: 15px;
      height: 15px;
      background: #000;
      border-radius: 15px;

      &.active {
        background: #ccc;
      }
    }
  }
  .login-form {
    position:absolute; left:50%; top:50%; transform: translate(-50%,-50%);
    box-shadow: 0 4px 50px rgba(25, 47, 102, 0.30);
    background: $color-white;
    width:toRem(260);
    border-radius: toRem(30);
    padding: toRem(30);
    display:flex;
    flex-direction: column;
    .logo { width:toRem(150); justify-self: center; img {width:100%; }}
  }
}


/** TOP MENU */
.header-wrap {
  height: 0;
  transition: all 0.4s ease-out;
  z-index:2;
  overflow:hidden;
  &.active {
    height: 48px;
    .header {
      height:48px;
      top:0;
    }
  }
  

  .header {
    width: 100%;
    position: absolute;
    left: 0;
    top: -48px;
    display: flex;
    justify-content: space-between;
    // align-items: baseline;
    height: 0;
    transition: all 0.4s ease-out;
    background-color: var(--color-primary-white-fixed);
    // &:hover {
    //   background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 48px, var(--color-primary-dark) 48px, var(--color-primary-dark) 100%);
    // }
   
    &.active {
      // height:190px;
    }
    h1.logo {
      width: 150px;
      background-color: var(--color-primary-dark);

      display: flex;
      height: 48px;
      justify-content: flex-start;
      align-items: center;
      padding: 0 toRem(15);
      cursor: pointer;

      img {
        width: toRem(100);
      }
    }

    .one-depth {
      flex: 1 1;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      background-color: var(--color-primary-dark);
      height:48px;
      transition: all 0.4s ease-out;
      overflow: hidden;
      // border-bottom: 1px solid var(--color-border);
      &.hover {
        // background-color: var(--color-primary-white-fixed);
        background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 48px, var(--color-primary-dark) 48px, var(--color-primary-dark) 100%);
        height:200px;
        border-bottom: 1px solid var(--color-border);
        .one {
          color: var(--color-primary-white-fixed);
        }
      }

      .one {
        padding:0 toRem(10);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width:120px;
        gap: 6px;
        color: var(--color-primary);
        // background: var(--color-primary);
        transition: all 0.4s ease-out;
        position:relative;
        @include font(bold, 13);
        height: 48px;
        span {
          
        }

        &:hover {
          color: var(--color-primary);
          background: var(--color-primary-white-fixed);
          .two-depth {
            top: 48px;
            opacity: 1;
            visibility: visible;
          }
        }
        cursor: pointer;
      }

      .two-depth {
        position:absolute; top:48px; left:0;
        opacity: 0;
        visibility: hidden;
        width:120px;
        transition: all 0.4s ease-out;
        padding:toRem(4) toRem(15);
        border-left: 1px solid var(--color-border);
        border-right: 1px solid var(--color-border);
        .two {
          >.boxs {
            display: flex;
            align-items: center;
            padding: toRem(7) 0;
            color: var(--color-primary);
            .arr {
              width: toRem(12);
              height: toRem(12);
              display: block;
              background: url(../images/common/menu-arrow.svg) no-repeat center center;
              rotate: 270deg;
              transition: all 0.4s ease-out;
            }
          }

          &:hover {
            .arr {
              // rotate: 90deg;
            }

            .three-depth {
              opacity: 1;
            }
          }
        }
      }

      .three-depth {
        position:absolute; left:120px; top:0;
        border-right: 1px solid var(--color-border);
        opacity: 0;
        width:120px;
        overflow: hidden;
        transition: all 0.4s ease-out;
        padding: toRem(4) 0;

        .three {
          padding: toRem(7) toRem(15);
          color: var(--color-primary);

          &:hover {
            background: var(--color-border);
          }
        }
      }
    }
  }

 
}

.top-menu-wrap {
  background: var(--color-primary-white-fixed);
  flex: 1 1;
}

/** LEFT MENU */
.left-menu-wrap {
  position:relative;
  left:-280px;
  width: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 80px, var(--color-primary-dark) 80px, var(--color-primary-dark) 100%);
  border-right: 1px solid var(--color-border);
  transition: all 0.4s ease-out;
  display:flex;
  flex-direction: column;
  .left-menus {
    flex:1 1;
  }
  .menu-wrap {
    height:100%;
    overflow-y: auto;
  }

  &.active {
    width: 280px;
    left:0;
  }

  h1.logo {
    background-color: var(--color-primary-dark);
    border-bottom: 1px solid var(--color-border);
    display:flex;
    height:48px;
    justify-content: flex-start;
    align-items: center;
    padding:0 toRem(15);
    cursor: pointer;
    img { width: toRem(100);}
  }

  .one-depth {
    position: relative;

    .one {
      width: toRem(80);
      height: toRem(80);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      color: var(--color-primary-white-fixed);
      background: var(--color-primary);
      transition: all 0.4s ease-out;
      @include font(bold, 13);
      &.active,
      &:hover {
        color: var(--color-primary);
        background: var(--color-primary-white-fixed);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      &.active {
        .two-depth {
          opacity: 1;
          z-index:1;
        }
      }

      cursor: pointer;
    }

    .two-depth {
      position: absolute;
      width: 199px;
      right: 0;
      top: 0;
      opacity: 0;
      z-index:0;
      transition: all 0.4s ease-out;
      *{color: var(--color-primary-text);}
      .two {
        &:first-child {
          margin-top: 0;
        }

        margin-top:-1px;

        >.boxs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: toRem(13) 0;
          margin: 0 toRem(10);
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
          color: var(--color-primary);
          &:first-child {
            border-top: none;
          }
          .arr {
            width: toRem(12);
            height: toRem(12);
            display: block;
            background: url(../images/common/menu-arrow.svg) no-repeat center center;
            rotate: 0;
            transition: all 0.4s ease-out;
          }
        }

        &:hover {
          >.boxs {}
        }

        &.active {
          >.boxs {}

          .arr {
            rotate: 180deg;
          }

          .three-depth {
            height: auto;
            padding: toRem(5) 0;
          }
        }
      }
    }

    .three-depth {
      height: 0;
      max-height: 500px;
      overflow: hidden;
      transition: all 0.4s ease-out;
      padding: 0;

      .three {
        padding: toRem(6) toRem(30);
        color: var(--color-primary);

        &:hover,
        &.active {
          background: var(--color-border);
        }
      }
    }
  }
}





/** MOBILE MENU */

/** SETTINGS */
.settings-wrap {
  background: var(--color-primary-dark);
  border-left: 1px solid var(--color-border);
  transition: all 0.4s ease-out;
  display:flex;
  align-self: stretch;
  >div { 
    @include font(bold, 13); 
    padding:0 toRem(20); 
    display:flex;
    align-items: center;
    border-right: 1px solid var(--color-border);
    color: var(--color-gray-text);
    cursor: pointer;
    position:relative;
    &.member {
      span {color: var(--color-primary); border-bottom: 1px solid var(--color-primary);}
    }
  }
  .setting-btn {
    &:hover {
      .settings { height:toRem(300); border-bottom: 1px solid var(--color-border);}
    }
  }
  .settings {
    height:0px;
    overflow:hidden;
    transition: all 0.4s ease-out;
    position:absolute; left:-1px; top:48px;
    width: toRem(150); border: 1px solid var(--color-border); border-bottom:none; border-top: none;
    background: var(--color-primary-dark);
    .tit {
      @include font(bold, 13);
      color: var(--color-black-text);
      position:relative; display:flex;
      justify-content: space-between;
      padding:toRem(9) toRem(13);
    }
    .color-set {
      background: var(--color-setting-bg);
      padding: toRem(5) 0;
      li {
        padding:toRem(4) toRem(13);
        display:flex; align-items: center;
        &:hover, &.active {
          background: var(--color-setting-li-active-bg);
          span {
            background-image: url(../images/common/color-check.svg);
            background-position: center center;
            background-size: toRem(16);
          }
        }
        span {  width:toRem(16); height:toRem(16); border-radius: toRem(16);margin-right:toRem(5);}
        &.navy {
          span {
            background-color: $color-navy;
          }
        }
        &.aqua {
          span {
            background-color: $color-aqua;
          }
        }
        &.gray {
          span {
            background-color: $color-gray;
          }
        }

        &.green {
          span {
            background-color: $color-green;
          }
        }
        &.orange {
          span {
            background-color: $color-orange;
          }
        }
        &.blue {
          span {
            background-color: $color-blue;
          }
        }
        &.dark {
          span {
            background-color: $color-dark;
          }
        }
      }
    }
  }
}


/** TABS */
.tab-area {
  height: 48px;
  transition: all 0.4s ease-out;
  border-top: 1px solid var(--color-border);
}

/**  */
.open-page-wrap {
  height: 48px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-primary-dark);
  .tab-area {
    flex:1 1;
  }

}