@charset "utf-8";
@import './reset.scss';
@import './_global.scss';
@import './_mixin.scss';

// @import './color.scss';
// @import './text.scss';
// @import './divider.scss';

@import './common.scss';


html {
  height: 100%;
}

body {
  height: 100%;

  >#app {
    height: 100%;

  }
}

:root {
  @include spread-map($theme-map-palette);

  .navy {
    @include spread-map($theme-map-navy);
  }

  .gray {
    @include spread-map($theme-map-gray);
  }

  .orange {
    @include spread-map($theme-map-orange);
  }

  .blue {
    @include spread-map($theme-map-blue);
  }

  .green {
    @include spread-map($theme-map-green);
  }

  .aqua {
    @include spread-map($theme-map-aqua);
  }

  .dark {
    @include spread-map($theme-map-dark);
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;



  .contents-wrap {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    flex: 1 1;
    max-width: 1920px;
    display: flex;

    .contents-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .contents {
        background: var(--color-contents-bg);
        flex: 1 1;
      }
    }

    .footer {
      height: toRem(50);
      background: var(--color-balck);
    }
  }
}

/** LOGIN */
.login-wrapper {
  position: relative;
  z-index: 3;
}

.login-wrap {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0 !important;
    visibility: hidden !important;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;

    &.active {
      transition: all 0.5s ease-out;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  .img-1 {
    background: url(../images/login/img-login-1.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-2 {
    background: url(../images/login/img-login-2.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-3 {
    background: url(../images/login/img-login-3.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-4 {
    background: url(../images/login/img-login-4.jpeg) no-repeat center center;
    background-size: cover;
  }

  .img-5 {
    background: url(../images/login/img-login-5.jpeg) no-repeat center center;
    background-size: cover;
  }

  .dots {
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 2;
    width: max-content;
    display: flex;
    gap: 10px;

    li {
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 10px;

      &.active {
        background: #ccc;
      }
    }
  }
}

/** TOP MENU */
.header-wrap {
  height: 0;
  border-bottom: 1px solid var(--color-border);
  transition: all 0.5s ease-out;
  z-index:2;
  overflow:hidden;
  &.active {
    height: 48px;
    .header {
      height:48px;
    }
  }

  .header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 0;
    overflow: hidden;
    &.active {
      height:190px;
      background-color: var(--color-primary-white-fixed);
      border-bottom: 1px solid var(--color-border);
    }

    .one-depth {
      flex: 1 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      background-color: var(--color-primary);
      transition: all 0.2s ease-out;
      &:hover {
        background-color: var(--color-primary-white-fixed);
        .one {
          color: var(--color-gray-text);
        }
      }

      .one {
        padding:0 toRem(10);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: var(--color-primary-white-fixed);
        // background: var(--color-primary);
        transition: all 0.2s ease-out;
        position:relative;
        @include font(bold, 13);
        height: 48px;
        span {
          
        }

        &:hover {
          color: var(--color-primary);
          .two-depth {
            top: 48px;
            opacity: 1;
            visibility: visible;
          }
        }
        cursor: pointer;
      }

      .two-depth {
        position:absolute; top:70px; left:0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-out;
        padding:0 toRem(10);
        .two {
          >.boxs {
            display: flex;
            align-items: center;
            padding: toRem(13) 0;
            color: var(--color-primary);
            .arr {
              width: toRem(12);
              height: toRem(12);
              display: block;
              background: url(../images/common/menu-arrow.svg) no-repeat center center;
              rotate: 0;
              transition: all 0.2s ease-out;
            }
          }

          &:hover {
            >.boxs {}

            .arr {
              rotate: 180deg;
            }

            .three-depth {
              height: auto;
              padding: toRem(5) 0;
            }
          }
        }
      }

      .three-depth {
        height: 0;
        max-height: 500px;
        overflow: hidden;
        transition: all 0.2s ease-out;
        padding: 0;

        .three {
          padding: toRem(6) toRem(30);
          color: var(--color-primary);

          &:hover {
            background: var(--color-border);
          }
        }
      }
    }
  }

 
}

.top-menu-wrap {
  background: var(--color-primary-white-fixed);
  flex: 1 1;
}

/** LEFT MENU */
.left-menu-wrap {
  width: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 80px, var(--color-primary-dark) 80px, var(--color-primary-dark) 100%);
  border-right: 1px solid var(--color-border);
  transition: all 0.5s ease-out;
  .menu-wrap {
    height:100%;
    overflow-y: auto;
  }

  &.active {
    width: 280px;
  }

  h1.logo {
    background-color: var(--color-primary);
    display:flex;
    height:toRem(48);
    justify-content: flex-start;
    align-items: center;
    padding:0 toRem(15);
    cursor: pointer;
    img { width: toRem(100);}
  }

  .one-depth {
    position: relative;

    .one {
      width: toRem(80);
      height: toRem(80);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      color: var(--color-primary-white-fixed);
      background: var(--color-primary);
      transition: all 0.2s ease-out;
      @include font(bold, 13);
      &.active,
      &:hover {
        color: var(--color-primary);
        background: var(--color-primary-white-fixed);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      &.active {
        .two-depth {
          right: 0;
        }
      }

      cursor: pointer;
    }

    .two-depth {
      position: absolute;
      width: 199px;
      right: -100%;
      top: 0;
      transition: all 0.2s ease-out;
      *{color: var(--color-primary-text);}
      .two {
        &:first-child {
          margin-top: 0;
        }

        margin-top:-1px;

        >.boxs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: toRem(13) 0;
          margin: 0 toRem(10);
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
          color: var(--color-primary);
          &:first-child {
            border-top: none;
          }
          .arr {
            width: toRem(12);
            height: toRem(12);
            display: block;
            background: url(../images/common/menu-arrow.svg) no-repeat center center;
            rotate: 0;
            transition: all 0.2s ease-out;
          }
        }

        &:hover {
          >.boxs {}
        }

        &.active {
          >.boxs {}

          .arr {
            rotate: 180deg;
          }

          .three-depth {
            height: auto;
            padding: toRem(5) 0;
          }
        }
      }
    }

    .three-depth {
      height: 0;
      max-height: 500px;
      overflow: hidden;
      transition: all 0.2s ease-out;
      padding: 0;

      .three {
        padding: toRem(6) toRem(30);
        color: var(--color-primary);

        &:hover,
        &.active {
          background: var(--color-border);
        }
      }
    }
  }
}





/** MOBILE MENU */

/** SETTINGS */
.settings-wrap {
  background: var(--color-primary-dark);
  border-left: 1px solid var(--color-border);
  transition: all 0.5s ease-out;
  display:flex;
  >div { 
    @include font(bold, 13); 
    padding:0 toRem(20); 
    display:flex;
    align-items: center;
    border-right: 1px solid var(--color-border);
    color: var(--color-gray-text);
    cursor: pointer;
    position:relative;
    &.member {
      span {color: var(--color-primary); border-bottom: 1px solid var(--color-primary);}
    }
  }
  .settings {
    position:absolute; left:0; top:toRem(50);
    width: toRem(150); border: 1px solid var(--color-border);
    background: var(--color-primary-dark);
    .tit {
      @include font(bold, 13);
      color: var(--color-black-text);
      position:relative; display:flex;
      justify-content: space-between;
      padding:toRem(9) toRem(13);
    }
    .color-set {
      background: var(--color-setting-bg);
    }
  }
}


/** TABS */
.tab-area {
  height: toRem(50);
  
  transition: all 0.5s ease-out;
}

/**  */
.open-page-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-primary-dark);
  .tab-area {
    flex:1 1;
  }

}