@charset "utf-8";
@import './_global.scss';
@import './_mixin.scss';

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

/* 비밀번호 동그라미 UI */
@font-face {
    font-family: 'pass';
    font-style: normal;
    font-weight: 400;
    src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAATsAA8AAAAAB2QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABWAAAABwAAAAcg9+z70dERUYAAAF0AAAAHAAAAB4AJwANT1MvMgAAAZAAAAA/AAAAYH7AkBhjbWFwAAAB0AAAAFkAAAFqZowMx2N2dCAAAAIsAAAABAAAAAQAIgKIZ2FzcAAAAjAAAAAIAAAACAAAABBnbHlmAAACOAAAALkAAAE0MwNYJ2hlYWQAAAL0AAAAMAAAADYPA2KgaGhlYQAAAyQAAAAeAAAAJAU+ATJobXR4AAADRAAAABwAAAAcCPoA6mxvY2EAAANgAAAAEAAAABAA5gFMbWF4cAAAA3AAAAAaAAAAIAAKAE9uYW1lAAADjAAAARYAAAIgB4hZ03Bvc3QAAASkAAAAPgAAAE5Ojr8ld2ViZgAABOQAAAAGAAAABuK7WtIAAAABAAAAANXulPUAAAAA1viLwQAAAADW+JM4eNpjYGRgYOABYjEgZmJgBEI2IGYB8xgAA+AANXjaY2BifMg4gYGVgYVBAwOeYEAFjMgcp8yiFAYHBl7VP8wx/94wpDDHMIoo2DP8B8kx2TLHACkFBkYA8/IL3QB42mNgYGBmgGAZBkYGEEgB8hjBfBYGDyDNx8DBwMTABmTxMigoKKmeV/3z/z9YJTKf8f/X/4/vP7pldosLag4SYATqhgkyMgEJJnQFECcMOGChndEAfOwRuAAAAAAiAogAAQAB//8AD3jaY2BiUGJgYDRiWsXAzMDOoLeRkUHfZhM7C8Nbo41srHdsNjEzAZkMG5lBwqwg4U3sbIx/bDYxgsSNBRUF1Y0FlZUYBd6dOcO06m+YElMa0DiGJIZUxjuM9xjkGRhU2djZlJXU1UDQ1MTcDASNjcTFQFBUBGjYEkkVMJCU4gcCKRTeHCk+fn4+KSllsJiUJEhMUgrMUQbZk8bgz/iA8SRR9qzAY087FjEYD2QPDDAzMFgyAwC39TCRAAAAeNpjYGRgYADid/fqneL5bb4yyLMwgMC1H90HIfRkCxDN+IBpFZDiYGAC8QBbSwuceNpjYGRgYI7594aBgcmOAQgYHzAwMqACdgBbWQN0AAABdgAiAAAAAAAAAAABFAAAAj4AYgI+AGYB9AAAAAAAKgAqACoAKgBeAJIAmnjaY2BkYGBgZ1BgYGIAAUYGBNADEQAFQQBaAAB42o2PwUrDQBCGvzVV9GAQDx485exBY1CU3PQgVgIFI9prlVqDwcZNC/oSPoKP4HNUfQLfxYN/NytCe5GwO9/88+/MBAh5I8C0VoAtnYYNa8oaXpAn9RxIP/XcIqLreZENnjwvyfPieVVdXj2H7DHxPJH/2/M7sVn3/MGyOfb8SWjOGv4K2DRdctpkmtqhos+D6ISh4kiUUXDj1Fr3Bc/Oc0vPqec6A8aUyu1cdTaPZvyXyqz6Fm5axC7bxHOv/r/dnbSRXCk7+mpVrOqVtFqdp3NKxaHUgeod9cm40rtrzfrt2OyQa8fppCO9tk7d1x0rpiQcuDuRkjjtkHt16ctbuf/radZY52/PnEcphXpZOcofiEZNcQAAeNpjYGIAg///GBgZsAF2BgZGJkZmBmaGdkYWRla29JzKggxD9tK8TAMDAxc2D0MLU2NjENfI1M0ZACUXCrsAAAABWtLiugAA) format('woff');
}


body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
pre {
    -webkit-text-size-adjust: none;
    font-size: toRem($modifier);
    letter-spacing: -0.03em;
    font-weight: 400;
    color: #000;
    font-family: 'NanumSquare', 'noto sans', arial, sans-serif, Arial, dotum,
        '돋움';
    outline: none;
}

/*-webkit-text-size-adjust: none(글자크기 자동조정 방지) , auto (화면의 폭에 맞추어서 텍스트의 크기를 자동으로 조절 , 100%(폰트크기를 지정된사이즈로 변경);*/
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
table,
tr,
td,
dl,
dt,
dd,
a,
img,
input,
button,
select,
textarea {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
samp {
    font-family: dotum, '돋움', courier new, courier, monospace;
}

header,
hgroup,
article,
nav,
footer,
figure,
figcaption,
canvas,
section,
menu {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

/* 모바일에서 꾹 눌렀을때 텍스트 복사 막기 */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
a,
img,
div,
span,
button,
legend {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

body,
div,
p,
ul,
li,
input,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
a,
select,
textarea {
    box-sizing: border-box;
}

img,
fieldset,
iframe {
    border: 0 none;
}

img {
    border: 0px;
    vertical-align: top;
}

table {
    /* border-collapse:collapse;table-layout:fixed; */
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '\020';
}

.clearfix {
    zoom: 1;
}

.clear,
.clearfix {
    clear: both;
    height: 0;
}

.clearafter {
    *zoom: 1;
}

.clearafter:after {
    content: '';
    clear: both;
    display: block;
    height: 0px;
    line-height: 0px;
}

.blind,
legend {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

form {
    margin: 0px;
    padding: 0px;
}

fieldset {
    padding: 0;
    border: none;
}

caption {
    display: none;
}

label {}

input,
button {
    vertical-align: middle;
    border: none;
    background: none;
}

input {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
    padding: 0;
    vertical-align: middle;
    margin-top: -3px;
    *margin-top: -2px;
}

input[type='text'],
input[type='password'],
input[type='file'],
input[type='tel'],
input[type='email'] {
    padding: 0;
}

input[type='button'],
input[type='submit'] {
    cursor: pointer;
}

input:-internal-autofill-selected,
input:-webkit-autofill {
    background-color: transparent !important;
}


a:link {
    text-decoration: none;
    color: #454545;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 13px;
}


@media (max-width: 1023px) {
    html {
        font-size: 13px;
    }
}

